<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.parsemmm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/notext"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:textSize="25sp" >
        <activity
            android:name="com.example.parsemmm.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.parsemmm.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="com.example.parsemmm.EnterBasicActivity"
            android:label="@string/title_activity_enter_basic" >
        </activity>
        <activity
            android:name="com.example.parsemmm.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.example.parsemmm.BasicInfoActivity"
            android:label="@string/title_activity_basic_info" >
        </activity>
        <activity
            android:name="com.example.parsemmm.EnterContactActivity"
            android:label="@string/title_activity_contact" >
        </activity>
        <activity
            android:name="com.example.parsemmm.ContactView"
            android:label="@string/title_activity_contact_view" >
        </activity>
        <activity
            android:name="com.example.parsemmm.EnterAllergyActivity"
            android:label="@string/title_activity_enter_allergy" >
        </activity>
        <activity
            android:name="com.example.parsemmm.EnterMedicationActivity"
            android:label="@string/title_activity_enter_medication_history" >
        </activity>
        <activity
            android:name="com.example.parsemmm.ViewInfoActivity"
            android:label="@string/title_activity_view_info" >
        </activity>
        <activity
            android:name="com.example.parsemmm.EnterHistoryActivity"
            android:label="@string/title_activity_enter_history" >
        </activity>
        <activity
            android:name="com.example.parsemmm.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
    </application>

</manifest>
